@inherits LayoutComponentBase
<div class="page">
    <img class="bg-blur bg-blur-left" src="Images/Background/Background_LeftBlur.png" alt="" />
    <img class="bg-blur bg-blur-right" src="Images/Background/Background_RightBlur.png" alt="" />

    <header class="top-navbar">
        <NavMenu />
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
