.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

main {
    flex: 1;
}

.top-navbar {
    background-color: white;
    border-bottom: 2px solid #1a1a1a;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}
