@inject IAuthenticationService AuthenticationService
@inject NavigationManager Navigation

<div class="topnav">
    <div class="topnav-brand">
        <img src="./Images/BK-Bank-Logo.png" alt="BK Bank Logo" class="brand-logo"/>
    </div>

    <button title="Navigation menu" class="topnav-toggler" @onclick="ToggleNavMenu">
        <span class="bi bi-list" style="color: #1a1a1a; font-size: 1.5rem;"></span>
    </button>

    <div class="topnav-links @NavMenuCssClass">
        @if (isLoggedIn)
        {
            <NavLink class="topnav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="topnav-link" href="withdraw-deposit">
                <span class="bi bi-database" aria-hidden="true"></span> Withdraw & Deposit
            </NavLink>
            <NavLink class="topnav-link" href="accounts">
                <span class="bi bi-wallet" aria-hidden="true"></span> Accounts
            </NavLink>
            <NavLink class="topnav-link" href="history">
                <span class="bi bi-clock-history" aria-hidden="true"></span> History
            </NavLink>
            <NavLink class="topnav-link" @onclick="LogoutAsync">
                <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
            </NavLink>
        }
    </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isLoggedIn;

    // Check if user is logged in when the navigation menu initializes and subscribe to authentication changes
    protected override async Task OnInitializedAsync()
    {
        isLoggedIn = await AuthenticationService.IsLoggedInAsync();
        AuthenticationService.OnAuthStateChanged += AuthStateChanged;
    }

    // Log out user, update login state and redirect to Home
    private async Task LogoutAsync()
    {
        await AuthenticationService.LogoutAsync();
        isLoggedIn = false;
        Navigation.NavigateTo("/");
        StateHasChanged();
    }

    private string? NavMenuCssClass => collapseNavMenu ? "nav-collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // Update login state and refresh UI when authentication status changes
    private async void AuthStateChanged()
    {
        isLoggedIn = await AuthenticationService.IsLoggedInAsync();
        await InvokeAsync(StateHasChanged);
    }

    // Unsubscribe from authentication state change events when component is disposed
    public void Dispose()
    {
        AuthenticationService.OnAuthStateChanged -= AuthStateChanged;
    }
}