@page "/newaccount"
@inject IAccountService AccountService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager Navigation
@using BK_Bank.Domain
@using System.ComponentModel.DataAnnotations

@* 
Summary:
Page for creating new bank accounts and displaying a list of existing accounts with their balances.
*@

<h1>New Account</h1>

@code {
    private CreateAccountModel _model = new();
    private List<BankAccount> _accounts = new();
    private string? _errorMessage;
    private string? _successMessage;

    // Check if page is authenticated and load all accounts when the page initializes
    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccounts();
    }

    // Create a new account and refresh the account list
    private async Task CreateAccountAsync()
    {
        _errorMessage = null;
        _successMessage = null;

        if (string.IsNullOrWhiteSpace(_model.Name))
        {
            _errorMessage = "Please enter an account name.";
            StateHasChanged();
            return;
        }

        try
        {
            await AccountService.CreateAccount(
                _model.Name!,
                _model.AccountType,
                _model.InitialBalance);
            _accounts = await AccountService.GetAccounts();
            _model.Clear();
            _successMessage = "Account successfully created.";
        }

        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
        StateHasChanged();
    }

    // Model for form data and validation
    private class CreateAccountModel
    {
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public decimal InitialBalance { get; set; } = 0;

        // Clear forms
        public void Clear()
        {
            Name = string.Empty;
            InitialBalance = 0;
            AccountType = default;
        }
    }
}